/* aknale määrame stiile ID kaudu, sest akent on alati üks */
#window {
   position: relative;  /* selleks, et akna sees koordinaadid oleks akna suhtes*/
   overflow: hidden;

   border: 2px solid gray;
}
#controls {
   position: absolute;
   top: 0; right: 0;
   z-index: 1000; /* et next-prev nupud oleks kõige peal alati */
}

/* slaididele määrame stiile klassi kaudu, sest slaide pole ainult üks */
.slide {
   position: absolute;
   top: 0px;  /* slaidi ülaosa on alati aknaraamiga kohakuti */
   left: -1000px;  /* vaikimisi on slaid varjatud */
}

#slide-1 {
   background-color: #ffa;
}
#slide-2 {
   background-color: #aff;
}

/* aken ja slaidid on alati samade mõõtmetega,*/
/* st pilt akna sees on sama suur kui aken ise. */
#window, .slide {
   width: 400px;
   height: 300px;
}


.slide .question {
   font-family: Arial;
   font-size: 150px;
   text-transform: uppercase;
   position: absolute;
   top: 20px;
   left: 50px;
   width: 300px;
   text-align: center;
}
.slide .options img {
   height: 100px;
}

.slide .options {
   position: absolute;
   left: 50px;
   bottom: 0px;
}
.slide .options .option-1,
.slide .options .option-2,
.slide .options .option-3 {
   width: 100px;
   height: 100px;
   float: left;

   text-align: center;
   overflow: hidden;
}